In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import glob
import unicodedata

In [2]:
#below is my work computer path
#transfers_path = r'C:\Users\samlaw\Desktop\capstone-transfer-market\data\transfers'
#below is my personal computer path 
transfers_path = r'C:\Users\1saml\Documents\git\analytics\capstone-transfer-market\data\transfers'
all_transfer_files = glob.glob(transfers_path + "/*.csv")

li = []

for filename in all_transfer_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

transfers = pd.concat(li, axis=0, ignore_index=True)

In [3]:
transfers.shape

(49622, 11)

In [4]:
transfers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49622 entries, 0 to 49621
Data columns (total 11 columns):
club_name             49622 non-null object
player_name           49622 non-null object
age                   49613 non-null float64
position              49622 non-null object
club_involved_name    49622 non-null object
fee                   49618 non-null object
transfer_movement     49622 non-null object
fee_cleaned           46968 non-null float64
league_name           49622 non-null object
year                  49622 non-null int64
season                49622 non-null object
dtypes: float64(2), int64(1), object(8)
memory usage: 4.2+ MB

In [5]:
transfers.head()

,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,fee_cleaned,league_name,year,season
0,Manchester United,Antonio Valencia,23.0,Right-Back,Wigan,£17.01m,in,17.01,Premier League,2009,2009/2010
1,Manchester United,Mame Diouf,21.0,Centre-Forward,Molde FK,£4.05m,in,4.05,Premier League,2009,2009/2010
2,Manchester United,Gabriel Obertan,20.0,Right Winger,G. Bordeaux,£3.60m,in,3.60,Premier League,2009,2009/2010
3,Manchester United,Michael Owen,29.0,Centre-Forward,Newcastle,Free Transfer,in,0.00,Premier League,2009,2009/2010
4,Manchester United,James Chester,20.0,Centre-Back,Plymouth,"End of loanOct 1, 2009",in,0.00,Premier League,2009,2009/2010

In [6]:
transfers.tail()

,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,fee_cleaned,league_name,year,season
49617,RCD Mallorca,Pervis Estupiñán,21.0,Left-Back,Watford U23,"End of loanJun 30, 2019",out,0.0,Primera Division,2019,2019/2020
49618,RCD Mallorca,Nikola Stojiljkovic,26.0,Centre-Forward,Braga,"End of loanJun 30, 2019",out,0.0,Primera Division,2019,2019/2020
49619,RCD Mallorca,Ante Budimir,27.0,Centre-Forward,Crotone,"End of loanJun 30, 2019",out,0.0,Primera Division,2019,2019/2020
49620,RCD Mallorca,Martin Valjent,23.0,Centre-Back,Chievo Verona,"End of loanJun 30, 2019",out,0.0,Primera Division,2019,2019/2020
49621,RCD Mallorca,Leo Suárez,23.0,Right Winger,Villarreal,"End of loanJun 30, 2019",out,0.0,Primera Division,2019,2019/2020

In [7]:
#Converting British Pounds to USD. Exchange Rate is 1.32 as of 12/11/2019
transfers.fee_cleaned = transfers.fee_cleaned * 1.32
transfers.fee_cleaned = transfers.fee_cleaned.round(3)
transfers.head()

,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,fee_cleaned,league_name,year,season
0,Manchester United,Antonio Valencia,23.0,Right-Back,Wigan,£17.01m,in,22.453,Premier League,2009,2009/2010
1,Manchester United,Mame Diouf,21.0,Centre-Forward,Molde FK,£4.05m,in,5.346,Premier League,2009,2009/2010
2,Manchester United,Gabriel Obertan,20.0,Right Winger,G. Bordeaux,£3.60m,in,4.752,Premier League,2009,2009/2010
3,Manchester United,Michael Owen,29.0,Centre-Forward,Newcastle,Free Transfer,in,0.000,Premier League,2009,2009/2010
4,Manchester United,James Chester,20.0,Centre-Back,Plymouth,"End of loanOct 1, 2009",in,0.000,Premier League,2009,2009/2010

In [8]:
#renaming columns
transfers = transfers.rename(columns={'club_name':'buying_club','club_involved_name': 'selling_club','fee_cleaned':'fee_in_millions_usd'})
transfers.head()

,buying_club,player_name,age,position,selling_club,fee,transfer_movement,fee_in_millions_usd,league_name,year,season
0,Manchester United,Antonio Valencia,23.0,Right-Back,Wigan,£17.01m,in,22.453,Premier League,2009,2009/2010
1,Manchester United,Mame Diouf,21.0,Centre-Forward,Molde FK,£4.05m,in,5.346,Premier League,2009,2009/2010
2,Manchester United,Gabriel Obertan,20.0,Right Winger,G. Bordeaux,£3.60m,in,4.752,Premier League,2009,2009/2010
3,Manchester United,Michael Owen,29.0,Centre-Forward,Newcastle,Free Transfer,in,0.000,Premier League,2009,2009/2010
4,Manchester United,James Chester,20.0,Centre-Back,Plymouth,"End of loanOct 1, 2009",in,0.000,Premier League,2009,2009/2010

In [9]:
transfers.player_name.value_counts().head(10)

Valerio Verre            33
Cristian Pasquato        32
Gabriel                  32
Panagiotis Tachtsidis    32
Samuele Longo            31
Rubén Pérez              30
Rodney Strasser          30
Gaël Kakuta              30
Marco Borriello          29
Martín Cáceres           28
Name: player_name, dtype: int64

In [10]:
#removing diacritics from the player's names. EX: Rubén Pérez & Gaël Kakuta
transfers.player_name = transfers['player_name'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
transfers.head()

,buying_club,player_name,age,position,selling_club,fee,transfer_movement,fee_in_millions_usd,league_name,year,season
0,Manchester United,Antonio Valencia,23.0,Right-Back,Wigan,£17.01m,in,22.453,Premier League,2009,2009/2010
1,Manchester United,Mame Diouf,21.0,Centre-Forward,Molde FK,£4.05m,in,5.346,Premier League,2009,2009/2010
2,Manchester United,Gabriel Obertan,20.0,Right Winger,G. Bordeaux,£3.60m,in,4.752,Premier League,2009,2009/2010
3,Manchester United,Michael Owen,29.0,Centre-Forward,Newcastle,Free Transfer,in,0.000,Premier League,2009,2009/2010
4,Manchester United,James Chester,20.0,Centre-Back,Plymouth,"End of loanOct 1, 2009",in,0.000,Premier League,2009,2009/2010

In [11]:
#cleaned: Ruben Perez & Gael Kakuta
transfers.player_name.value_counts().head(10)

Valerio Verre            33
Gabriel                  32
Panagiotis Tachtsidis    32
Cristian Pasquato        32
Samuele Longo            31
Gael Kakuta              30
Ruben Perez              30
Rodney Strasser          30
Marco Borriello          29
Iago Falque              28
Name: player_name, dtype: int64

In [12]:
#removing any diacritics from the club names
transfers.buying_club = transfers['buying_club'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
transfers.selling_club = transfers['selling_club'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
transfers.head()

,buying_club,player_name,age,position,selling_club,fee,transfer_movement,fee_in_millions_usd,league_name,year,season
0,Manchester United,Antonio Valencia,23.0,Right-Back,Wigan,£17.01m,in,22.453,Premier League,2009,2009/2010
1,Manchester United,Mame Diouf,21.0,Centre-Forward,Molde FK,£4.05m,in,5.346,Premier League,2009,2009/2010
2,Manchester United,Gabriel Obertan,20.0,Right Winger,G. Bordeaux,£3.60m,in,4.752,Premier League,2009,2009/2010
3,Manchester United,Michael Owen,29.0,Centre-Forward,Newcastle,Free Transfer,in,0.000,Premier League,2009,2009/2010
4,Manchester United,James Chester,20.0,Centre-Back,Plymouth,"End of loanOct 1, 2009",in,0.000,Premier League,2009,2009/2010

In [13]:
transfers.buying_club.unique()

array(['Manchester United', 'Liverpool FC', 'Chelsea FC', 'Arsenal FC',
       'Everton FC', 'Aston Villa', 'Fulham FC', 'Tottenham Hotspur',
       'West Ham United', 'Manchester City', 'Wigan Athletic',
       'Stoke City', 'Bolton Wanderers', 'Portsmouth FC',
       'Blackburn Rovers', 'Sunderland AFC', 'Hull City',
       'Wolverhampton Wanderers', 'Birmingham City', 'Burnley FC',
       'Newcastle United', 'West Bromwich Albion', 'Blackpool FC',
       'Queens Park Rangers', 'Norwich City', 'Swansea City',
       'Southampton FC', 'Reading FC', 'Cardiff City', 'Crystal Palace',
       'Leicester City', 'AFC Bournemouth', 'Watford FC',
       'Middlesbrough FC', 'Brighton & Hove Albion', 'Huddersfield Town',
       'Sheffield United', 'FC Girondins Bordeaux', 'AS Monaco',
       'Olympique Marseille', 'Stade Rennais FC', 'AJ Auxerre',
       'FC Toulouse', 'OGC Nice', 'Paris Saint-Germain',
       'AS Saint-Etienne', 'FC Sochaux-Montbeliard', 'RC Lens',
       'HSC Montpellier', 'Olympique Lyon', 'LOSC Lille', 'FC Lorient',
       'AS Nancy-Lorraine', 'Le Mans Union Club 72', 'Grenoble Foot 38',
       'Valenciennes FC', 'US Boulogne', 'SM Caen', 'Stade Brest 29',
       'Athletic Club Arlesien', 'AC Ajaccio', 'FCO Dijon',
       'FC Evian Thonon Gaillard', 'SC Bastia', 'ES Troyes AC',
       'Stade Reims', 'EA Guingamp', 'FC Nantes', 'FC Metz', 'SCO Angers',
       'GFC Ajaccio', 'SC Amiens', 'RC Strasbourg Alsace',
       'Nimes Olympique', 'Hertha BSC', 'VfL Bochum', 'VfL Wolfsburg',
       'Bayern Munich', 'VfB Stuttgart', 'Hamburger SV',
       'Borussia Dortmund', 'TSG 1899 Hoffenheim', 'FC Schalke 04',
       'Bayer 04 Leverkusen', 'SV Werder Bremen', 'Hannover 96',
       '1. FC Koln', 'Eintracht Frankfurt', 'Borussia Monchengladbach',
       'SC Freiburg', '1.FSV Mainz 05', '1.FC Nuremberg',
       '1.FC Kaiserslautern', 'FC St. Pauli', 'FC Augsburg',
       'SpVgg Greuther Furth', 'Fortuna Dusseldorf',
       'Eintracht Braunschweig', 'SC Paderborn 07', 'FC Ingolstadt 04',
       'SV Darmstadt 98', 'RB Leipzig', '1.FC Union Berlin',
       'FC Internazionale', 'AS Roma', 'AC Milan', 'UC Sampdoria',
       'US Palermo', 'SSC Napoli', 'Juventus FC', 'Parma FC', 'Genoa CFC',
       'AS Bari', 'ACF Fiorentina', 'Atalanta BC', 'SS Lazio', 'AC Siena',
       'Calcio Catania', 'Chievo Verona', 'Udinese Calcio',
       'Cagliari Calcio', 'Bologna FC 1909', 'AS Livorno',
       'Brescia Calcio', 'US Lecce', 'AC Cesena', 'Novara Calcio 1908',
       'Delfino Pescara 1936', 'Torino FC', 'Hellas Verona',
       'US Sassuolo', 'FC Empoli', 'Inter Milan', 'Carpi FC 1909',
       'Frosinone Calcio', 'FC Crotone', 'Benevento Calcio', 'SPAL 2013',
       'Parma Calcio 1913', 'SPAL', 'Atletico Madrid', 'FC Barcelona',
       'Xerez CD', 'Real Zaragoza', 'RCD Mallorca', 'CA Osasuna',
       'Real Valladolid CF', 'Sevilla FC', 'Real Madrid',
       'Athletic Bilbao', 'Racing Santander', 'CD Tenerife',
       'RCD Espanyol Barcelona', 'Deportivo de La Coruna', 'Valencia CF',
       'Villarreal CF', 'Malaga CF', 'Sporting Gijon', 'UD Almeria',
       'Getafe CF', 'Real Sociedad', 'Levante UD', 'Hercules CF',
       'Real Betis Balompie', 'Rayo Vallecano', 'Granada CF',
       'Celta de Vigo', 'Elche CF', 'SD Eibar', 'Cordoba CF',
       'UD Las Palmas', 'Deportivo Alaves', 'CD Leganes', 'Girona FC',
       'SD Huesca'], dtype=object)

In [14]:
transfers.dtypes

buying_club             object
player_name             object
age                    float64
position                object
selling_club            object
fee                     object
transfer_movement       object
fee_in_millions_usd    float64
league_name             object
year                     int64
season                  object
dtype: object

In [15]:
transfers.age.value_counts()

21.0     5844
20.0     5698
22.0     5096
23.0     4393
24.0     3854
19.0     3697
25.0     3283
26.0     2895
27.0     2547
28.0     2108
29.0     2009
30.0     1745
18.0     1566
31.0     1361
32.0     1012
33.0      750
34.0      514
17.0      369
35.0      346
36.0      219
37.0      106
38.0       57
39.0       45
16.0       42
40.0       36
41.0       12
15.0        3
42.0        3
43.0        1
44.0        1
115.0       1
Name: age, dtype: int64

In [16]:
transfers.transfer_movement.value_counts()

in     24910
out    24712
Name: transfer_movement, dtype: int64

In [17]:
#removing outgoing transfers. I only want to look at where a player arrived at a club.
#because there is a selling_club column, I can still see where the player came from and the fee that club received.
transfers = transfers[transfers.transfer_movement == 'in']
transfers.head()

,buying_club,player_name,age,position,selling_club,fee,transfer_movement,fee_in_millions_usd,league_name,year,season
0,Manchester United,Antonio Valencia,23.0,Right-Back,Wigan,£17.01m,in,22.453,Premier League,2009,2009/2010
1,Manchester United,Mame Diouf,21.0,Centre-Forward,Molde FK,£4.05m,in,5.346,Premier League,2009,2009/2010
2,Manchester United,Gabriel Obertan,20.0,Right Winger,G. Bordeaux,£3.60m,in,4.752,Premier League,2009,2009/2010
3,Manchester United,Michael Owen,29.0,Centre-Forward,Newcastle,Free Transfer,in,0.000,Premier League,2009,2009/2010
4,Manchester United,James Chester,20.0,Centre-Back,Plymouth,"End of loanOct 1, 2009",in,0.000,Premier League,2009,2009/2010

In [18]:
transfers.tail()

,buying_club,player_name,age,position,selling_club,fee,transfer_movement,fee_in_millions_usd,league_name,year,season
49593,RCD Mallorca,Sergio Moyita,26.0,Right Winger,FC Cartagena,"End of loanJun 30, 2019",in,0.0,Primera Division,2019,2019/2020
49594,RCD Mallorca,Alvaro Bustos,24.0,Left Winger,Pontevedra,"End of loanJun 30, 2019",in,0.0,Primera Division,2019,2019/2020
49595,RCD Mallorca,Pierre Cornud,22.0,Left-Back,R. B. Linense,"End of loanJun 30, 2019",in,0.0,Primera Division,2019,2019/2020
49596,RCD Mallorca,Fernando Cano,24.0,Attacking Midfield,Lleida Esportiu,"End of loanJun 30, 2019",in,0.0,Primera Division,2019,2019/2020
49597,RCD Mallorca,Carlos Castro,24.0,Centre-Forward,Elche CF,"End of loanJun 30, 2019",in,0.0,Primera Division,2019,2019/2020

In [19]:
transfers.shape

(24910, 11)

In [20]:
transfers.fee_in_millions_usd.value_counts()

0.000      17655
1.188        368
0.594        313
2.376        292
1.782        278
3.564        248
2.970        228
4.752        185
5.940        177
0.356        163
4.158        133
0.238        120
7.128        117
9.504        107
0.475        101
0.950         95
1.426         95
0.713         94
5.346         94
8.316         93
11.880        85
0.297         78
0.119         74
14.256        66
10.692        63
0.832         60
0.891         60
17.820        58
2.138         56
1.544         53
           ...
33.502         1
26.255         1
0.252          1
42.174         1
37.422         1
26.374         1
2.706          1
0.814          1
25.304         1
7.880          1
0.396          1
1.259          1
55.836         1
23.166         1
82.566         1
3.696          1
6.758          1
2.548          1
13.900         1
118.800        1
3.986          1
52.272         1
47.995         1
42.530         1
5.610          1
3.722          1
24.037         1
74.250         1
0.114          1
11.801         1
Name: fee_in_millions_usd, Length: 553, dtype: int64

In [21]:
#removing transfers where a player's loan ended and they return to their parent club
transfers = transfers[~transfers["fee"].str.contains('End', na=False)]

In [22]:
#finishing the job. removing players returning from a loan and transfer fees that are unknown
transfers = transfers[(transfers.fee != '-') & (transfers.fee != '?')]
transfers.head(10)

,buying_club,player_name,age,position,selling_club,fee,transfer_movement,fee_in_millions_usd,league_name,year,season
0,Manchester United,Antonio Valencia,23.0,Right-Back,Wigan,£17.01m,in,22.453,Premier League,2009,2009/2010
1,Manchester United,Mame Diouf,21.0,Centre-Forward,Molde FK,£4.05m,in,5.346,Premier League,2009,2009/2010
2,Manchester United,Gabriel Obertan,20.0,Right Winger,G. Bordeaux,£3.60m,in,4.752,Premier League,2009,2009/2010
3,Manchester United,Michael Owen,29.0,Centre-Forward,Newcastle,Free Transfer,in,0.000,Premier League,2009,2009/2010
42,Liverpool FC,Glen Johnson,24.0,Right-Back,Portsmouth,£18.45m,in,24.354,Premier League,2009,2009/2010
43,Liverpool FC,Alberto Aquilani,25.0,Central Midfield,AS Roma,£18.00m,in,23.760,Premier League,2009,2009/2010
44,Liverpool FC,Sotiris Kyrgiakos,30.0,Centre-Back,AEK Athens,£2.70m,in,3.564,Premier League,2009,2009/2010
45,Liverpool FC,Maxi Rodriguez,29.0,Left Winger,Atletico Madrid,Free Transfer,in,0.000,Premier League,2009,2009/2010
88,Chelsea FC,Yuri Zhirkov,25.0,Left Midfield,CSKA Moscow,£18.90m,in,24.948,Premier League,2009,2009/2010
89,Chelsea FC,Daniel Sturridge,19.0,Centre-Forward,Man City,£6.53m,in,8.620,Premier League,2009,2009/2010

In [23]:
transfers.fee.value_counts().head(10)

Free Transfer    2245
Loan             2087
£900k             265
£1.80m            249
£1.35m            238
£2.70m            216
£2.25m            210
£3.60m            177
£450k             174
Free transfer     162
Name: fee, dtype: int64

In [24]:
#cleaning the free transfers
transfers.fee = transfers.fee.replace({'Free Transfer': 'free_transfer', 'Free transfer': 'free_transfer'})

In [25]:
transfers.fee.value_counts().head()

free_transfer    2407
Loan             2087
£900k             265
£1.80m            249
£1.35m            238
Name: fee, dtype: int64

In [26]:
#cleaning the loans
transfers.fee = transfers.fee.str.split(' ').str[0]
transfers.fee = transfers.fee.replace({'Loan': 'loan'})
transfers.fee.value_counts().head()

loan             2981
free_transfer    2407
£900k             265
£1.80m            249
£1.35m            238
Name: fee, dtype: int64

In [27]:
#replacing NaN's with zero
transfers.fee_in_millions_usd = transfers.fee_in_millions_usd.fillna(0)
transfers.tail()

,buying_club,player_name,age,position,selling_club,fee,transfer_movement,fee_in_millions_usd,league_name,year,season
49583,RCD Mallorca,Cucho Hernandez,20.0,Centre-Forward,Watford,loan,in,0.0,Primera Division,2019,2019/2020
49584,RCD Mallorca,Fabri,31.0,Goalkeeper,Fulham,loan,in,0.0,Primera Division,2019,2019/2020
49585,RCD Mallorca,Lumor,22.0,Left-Back,Sporting CP,loan,in,0.0,Primera Division,2019,2019/2020
49587,RCD Mallorca,Takefusa Kubo,18.0,Attacking Midfield,Real Madrid,loan,in,0.0,Primera Division,2019,2019/2020
49588,RCD Mallorca,Abdul Rahman Baba,25.0,Left-Back,Chelsea,loan,in,0.0,Primera Division,2019,2019/2020

In [28]:
transfers.position.unique()

array(['Right-Back', 'Centre-Forward', 'Right Winger', 'Central Midfield',
       'Centre-Back', 'Left Winger', 'Left Midfield',
       'Defensive Midfield', 'Goalkeeper', 'Attacking Midfield',
       'Second Striker', 'Left-Back', 'Right Midfield', 'Midfielder',
       'Forward'], dtype=object)

In [29]:
#changing the positions so that they all have a similar layout
transfers.position = transfers.position.replace(
    {'Right-Back': 'Right Back', 'Centre-Forward': 'Striker', 'Centre-Back': 'Center Back', 'Central Midfield':'Center Midfielder',
    'Midfielder': 'Center Midfielder','Defensive Midfield': 'Defensive Midfielder', 'Left Midfield':'Left Midfielder', 'Attacking Midfield': 'Attacking Midfielder',
    'Second Striker': 'Striker', 'Left-Back': 'Left Back', 'Right Midfield':'Right Midfielder', 'Forward':'Striker'})

In [30]:
transfers.age.unique()

array([23., 21., 20., 29., 24., 25., 30., 19., 31., 22., 27., 26., 34.,
       28., 17., 36., 32., 18., 33., 35., 37., 39., 40., 38., 42., 16.,
       41.])

In [31]:
#changing the ages from a float dtype to an int64
transfers.age = transfers.age.astype('int64')
transfers.shape

(10848, 11)

In [32]:
#I no longer need this colum. The dataframe is only incoming transfers now.
transfers = transfers.drop(columns=['transfer_movement'])

In [33]:
transfers.league_name.unique()

array(['Premier League', 'Ligue 1', '1 Bundesliga', 'Serie A',
       'Primera Division'], dtype=object)

In [34]:
#Including the country in th league name
transfers.league_name = transfers.league_name.replace({'Premier League': 'English Premier League', 'Ligue 1':'French Ligue 1', '1 Bundesliga':'German Bundesliga',
                              'Serie A':'Italian Serie A', 'Primera Division':'Spanish La Liga'})
transfers.league_name.unique()

array(['English Premier League', 'French Ligue 1', 'German Bundesliga',
       'Italian Serie A', 'Spanish La Liga'], dtype=object)

In [35]:
transfers.head()

,buying_club,player_name,age,position,selling_club,fee,fee_in_millions_usd,league_name,year,season
0,Manchester United,Antonio Valencia,23,Right Back,Wigan,£17.01m,22.453,English Premier League,2009,2009/2010
1,Manchester United,Mame Diouf,21,Striker,Molde FK,£4.05m,5.346,English Premier League,2009,2009/2010
2,Manchester United,Gabriel Obertan,20,Right Winger,G. Bordeaux,£3.60m,4.752,English Premier League,2009,2009/2010
3,Manchester United,Michael Owen,29,Striker,Newcastle,free_transfer,0.000,English Premier League,2009,2009/2010
42,Liverpool FC,Glen Johnson,24,Right Back,Portsmouth,£18.45m,24.354,English Premier League,2009,2009/2010

In [36]:
transfers = transfers.reset_index(drop = True)
transfers.head()

,buying_club,player_name,age,position,selling_club,fee,fee_in_millions_usd,league_name,year,season
0,Manchester United,Antonio Valencia,23,Right Back,Wigan,£17.01m,22.453,English Premier League,2009,2009/2010
1,Manchester United,Mame Diouf,21,Striker,Molde FK,£4.05m,5.346,English Premier League,2009,2009/2010
2,Manchester United,Gabriel Obertan,20,Right Winger,G. Bordeaux,£3.60m,4.752,English Premier League,2009,2009/2010
3,Manchester United,Michael Owen,29,Striker,Newcastle,free_transfer,0.000,English Premier League,2009,2009/2010
4,Liverpool FC,Glen Johnson,24,Right Back,Portsmouth,£18.45m,24.354,English Premier League,2009,2009/2010

In [37]:
#rearranging the columns so the year and season appears first
transfers =  transfers[['year', 'season', 'buying_club', 'player_name', 'age', 'position', 'selling_club', 'fee', 'fee_in_millions_usd', 'league_name']]
transfers.head()

,year,season,buying_club,player_name,age,position,selling_club,fee,fee_in_millions_usd,league_name
0,2009,2009/2010,Manchester United,Antonio Valencia,23,Right Back,Wigan,£17.01m,22.453,English Premier League
1,2009,2009/2010,Manchester United,Mame Diouf,21,Striker,Molde FK,£4.05m,5.346,English Premier League
2,2009,2009/2010,Manchester United,Gabriel Obertan,20,Right Winger,G. Bordeaux,£3.60m,4.752,English Premier League
3,2009,2009/2010,Manchester United,Michael Owen,29,Striker,Newcastle,free_transfer,0.000,English Premier League
4,2009,2009/2010,Liverpool FC,Glen Johnson,24,Right Back,Portsmouth,£18.45m,24.354,English Premier League

In [38]:
transfers.tail()

,year,season,buying_club,player_name,age,position,selling_club,fee,fee_in_millions_usd,league_name
10843,2019,2019/2020,RCD Mallorca,Cucho Hernandez,20,Striker,Watford,loan,0.0,Spanish La Liga
10844,2019,2019/2020,RCD Mallorca,Fabri,31,Goalkeeper,Fulham,loan,0.0,Spanish La Liga
10845,2019,2019/2020,RCD Mallorca,Lumor,22,Left Back,Sporting CP,loan,0.0,Spanish La Liga
10846,2019,2019/2020,RCD Mallorca,Takefusa Kubo,18,Attacking Midfielder,Real Madrid,loan,0.0,Spanish La Liga
10847,2019,2019/2020,RCD Mallorca,Abdul Rahman Baba,25,Left Back,Chelsea,loan,0.0,Spanish La Liga

In [39]:
transfers.shape

(10848, 10)

In [40]:
#below is my work computer path
#england_path = r'C:\Users\samlaw\Desktop\capstone-transfer-market\data\matches\england'
#below is my personal computer path 
england_path = r'C:\Users\1saml\Documents\git\analytics\capstone-transfer-market\data\matches\england'
epl = glob.glob(england_path + "/*.csv")

li_epl = []

for filename in epl:
    df_epl = pd.read_csv(filename, index_col=None, header=0)
    li_epl.append(df_epl)

england = pd.concat(li_epl, axis=0, ignore_index=True, sort=False)
england.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSH,PSD,PSA,PSCH,PSCD,PSCA
0,E0,14/08/10,Aston Villa,West Ham,3,0,H,2,0,H,...,1.45,1.40,3.00,2.78,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,14/08/10,Blackburn,Everton,1,0,H,1,0,H,...,2.20,2.05,1.85,1.75,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,14/08/10,Bolton,Fulham,0,0,D,0,0,D,...,1.60,1.55,2.56,2.36,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,14/08/10,Chelsea,West Brom,6,0,H,2,0,H,...,2.06,2.01,1.91,1.85,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,14/08/10,Sunderland,Birmingham,2,2,D,1,0,H,...,1.64,1.55,2.50,2.38,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
england.Date = pd.to_datetime(england.Date, dayfirst=True)

In [42]:
#below is my work computer path
#fra_path = r'C:\Users\samlaw\Desktop\capstone-transfer-market\data\matches\france'
#below is my personal computer path 
fra_path = r'C:\Users\1saml\Documents\git\analytics\capstone-transfer-market\data\matches\france'
fra = glob.glob(fra_path + "/*.csv")

li_fra = []

for filename in fra:
    df_fra = pd.read_csv(filename, index_col=None, header=0)
    li_fra.append(df_fra)

france = pd.concat(li_fra, axis=0, ignore_index=True, sort=False)
france.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSH,PSD,PSA,PSCH,PSCD,PSCA
0,F1,07/08/10,Auxerre,Lorient,2,2,D,1.0,1.0,D,...,1.90,1.83,2.03,1.94,NaN,NaN,NaN,NaN,NaN,NaN
1,F1,07/08/10,Lens,Nancy,1,2,A,0.0,1.0,A,...,1.50,1.42,2.85,2.67,NaN,NaN,NaN,NaN,NaN,NaN
2,F1,07/08/10,Lyon,Monaco,0,0,D,0.0,0.0,D,...,2.09,2.01,1.84,1.79,NaN,NaN,NaN,NaN,NaN,NaN
3,F1,07/08/10,Marseille,Caen,1,2,A,0.0,0.0,D,...,2.21,2.18,1.76,1.74,NaN,NaN,NaN,NaN,NaN,NaN
4,F1,07/08/10,Nice,Valenciennes,0,0,D,0.0,0.0,D,...,1.50,1.44,2.75,2.58,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
france.Date = pd.to_datetime(france.Date, dayfirst=True)

In [44]:
#below is my work computer path
#ger_path = r'C:\Users\samlaw\Desktop\capstone-transfer-market\data\matches\germany'
#below is my personal computer path 
ger_path = r'C:\Users\1saml\Documents\git\analytics\capstone-transfer-market\data\matches\germany'
ger = glob.glob(ger_path + "/*.csv")

li_ger = []

for filename in ger:
    df_ger = pd.read_csv(filename, index_col=None, header=0)
    li_ger.append(df_ger)

germany = pd.concat(li_ger, axis=0, ignore_index=True, sort=False)
germany.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSH,PSD,PSA,PSCH,PSCD,PSCA
0,D1,20/08/10,Bayern Munich,Wolfsburg,2,1,H,1,0,H,...,1.25,1.19,5.35,4.30,NaN,NaN,NaN,NaN,NaN,NaN
1,D1,21/08/10,FC Koln,Kaiserslautern,1,3,A,1,0,H,...,1.63,1.54,2.52,2.39,NaN,NaN,NaN,NaN,NaN,NaN
2,D1,21/08/10,Freiburg,St Pauli,1,3,A,0,0,D,...,1.69,1.60,2.36,2.25,NaN,NaN,NaN,NaN,NaN,NaN
3,D1,21/08/10,Hamburg,Schalke 04,2,1,H,0,0,D,...,1.71,1.65,2.35,2.17,NaN,NaN,NaN,NaN,NaN,NaN
4,D1,21/08/10,Hannover,Ein Frankfurt,2,1,H,1,1,D,...,2.03,1.91,1.92,1.87,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
germany.Date = pd.to_datetime(germany.Date, dayfirst=True)

In [46]:
#below is my work computer path
#ita_path = r'C:\Users\samlaw\Desktop\capstone-transfer-market\data\matches\italy'
#below is my personal computer path 
ita_path = r'C:\Users\1saml\Documents\git\analytics\capstone-transfer-market\data\matches\italy'
ita = glob.glob(ita_path + "/*.csv")

li_ita = []

for filename in ita:
    df_ita = pd.read_csv(filename, index_col=None, header=0)
    li_ita.append(df_ita)

italy = pd.concat(li_ita, axis=0, ignore_index=True, sort=False)
italy.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSH,PSD,PSA,PSCH,PSCD,PSCA
0,I1,28/08/10,Roma,Cesena,0,0,D,0.0,0.0,D,...,1.90,1.86,2.05,2.01,NaN,NaN,NaN,NaN,NaN,NaN
1,I1,28/08/10,Udinese,Genoa,0,1,A,0.0,0.0,D,...,1.75,1.68,2.23,2.12,NaN,NaN,NaN,NaN,NaN,NaN
2,I1,29/08/10,Bari,Juventus,1,0,H,1.0,0.0,H,...,3.00,2.72,1.50,1.41,NaN,NaN,NaN,NaN,NaN,NaN
3,I1,29/08/10,Chievo,Catania,2,1,H,1.0,1.0,D,...,1.63,1.54,2.55,2.40,NaN,NaN,NaN,NaN,NaN,NaN
4,I1,29/08/10,Fiorentina,Napoli,1,1,D,0.0,1.0,A,...,1.67,1.61,2.43,2.23,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
italy.Date = pd.to_datetime(italy.Date, dayfirst=True)

In [48]:
#below is my work computer path
#esp_path = r'C:\Users\samlaw\Desktop\capstone-transfer-market\data\matches\spain'
#below is my personal computer path 
esp_path = r'C:\Users\1saml\Documents\git\analytics\capstone-transfer-market\data\matches\spain'
esp = glob.glob(esp_path + "/*.csv")

li_esp = []

for filename in esp:
    df_esp = pd.read_csv(filename, index_col=None, header=0)
    li_esp.append(df_esp)

spain = pd.concat(li_esp, axis=0, ignore_index=True, sort=False)
spain.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSH,PSD,PSA,PSCH,PSCD,PSCA
0,SP1,28/08/10,Hercules,Ath Bilbao,0,1,A,0,0,D,...,1.92,1.84,2.10,1.95,NaN,NaN,NaN,NaN,NaN,NaN
1,SP1,28/08/10,Levante,Sevilla,1,4,A,1,2,A,...,2.75,2.54,1.53,1.48,NaN,NaN,NaN,NaN,NaN,NaN
2,SP1,28/08/10,Malaga,Valencia,1,3,A,1,1,D,...,2.25,2.08,1.83,1.71,NaN,NaN,NaN,NaN,NaN,NaN
3,SP1,29/08/10,Espanol,Getafe,3,1,H,1,0,H,...,1.57,1.51,2.69,2.48,NaN,NaN,NaN,NaN,NaN,NaN
4,SP1,29/08/10,La Coruna,Zaragoza,0,0,D,0,0,D,...,1.54,1.49,2.64,2.50,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
spain.Date = pd.to_datetime(spain.Date, dayfirst=True)

In [50]:
england.shape

(3420, 77)

In [51]:
france.shape

(3420, 76)

In [52]:
germany.shape

(2754, 76)

In [53]:
italy.shape

(3420, 76)

In [54]:
spain.shape

(3420, 76)

In [55]:
germany.HomeTeam.unique()

array(['Bayern Munich', 'FC Koln', 'Freiburg', 'Hamburg', 'Hannover',
       'Hoffenheim', "M'gladbach", 'Dortmund', 'Mainz', 'Kaiserslautern',
       'Ein Frankfurt', 'Nurnberg', 'Schalke 04', 'St Pauli',
       'Werder Bremen', 'Wolfsburg', 'Leverkusen', 'Stuttgart',
       'Augsburg', 'Hertha', 'Greuther Furth', 'Fortuna Dusseldorf',
       'Braunschweig', 'Paderborn', 'Darmstadt', 'Ingolstadt',
       'RB Leipzig'], dtype=object)

In [56]:
all_matches = pd.concat([england, france, germany, italy, spain], axis=0, ignore_index=True, sort=False)
all_matches.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSH,PSD,PSA,PSCH,PSCD,PSCA
0,E0,2010-08-14,Aston Villa,West Ham,3,0,H,2.0,0.0,H,...,1.45,1.40,3.00,2.78,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,2010-08-14,Blackburn,Everton,1,0,H,1.0,0.0,H,...,2.20,2.05,1.85,1.75,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,2010-08-14,Bolton,Fulham,0,0,D,0.0,0.0,D,...,1.60,1.55,2.56,2.36,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,2010-08-14,Chelsea,West Brom,6,0,H,2.0,0.0,H,...,2.06,2.01,1.91,1.85,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,2010-08-14,Sunderland,Birmingham,2,2,D,1.0,0.0,H,...,1.64,1.55,2.50,2.38,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
all_matches.tail()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSH,PSD,PSA,PSCH,PSCD,PSCA
16429,SP1,2019-05-18,Levante,Ath Madrid,2,2,D,2.0,0.0,H,...,1.91,1.87,2.04,1.99,3.67,3.87,2.02,4.34,4.10,1.81
16430,SP1,2019-05-18,Sevilla,Ath Bilbao,2,0,H,1.0,0.0,H,...,2.70,2.60,1.60,1.53,1.90,3.42,4.81,2.17,3.08,4.15
16431,SP1,2019-05-18,Valladolid,Valencia,0,2,A,0.0,1.0,A,...,1.78,1.74,2.20,2.13,8.05,4.91,1.42,8.01,5.13,1.40
16432,SP1,2019-05-19,Eibar,Barcelona,2,2,D,2.0,2.0,D,...,2.03,1.98,1.92,1.88,3.83,4.20,1.89,4.96,4.55,1.65
16433,SP1,2019-05-19,Real Madrid,Betis,0,2,A,0.0,0.0,D,...,1.94,1.91,2.01,1.98,1.59,5.09,4.86,1.33,6.38,8.09

In [58]:
all_matches.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSH,PSD,PSA,PSCH,PSCD,PSCA
0,E0,2010-08-14,Aston Villa,West Ham,3,0,H,2.0,0.0,H,...,1.45,1.40,3.00,2.78,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,2010-08-14,Blackburn,Everton,1,0,H,1.0,0.0,H,...,2.20,2.05,1.85,1.75,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,2010-08-14,Bolton,Fulham,0,0,D,0.0,0.0,D,...,1.60,1.55,2.56,2.36,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,2010-08-14,Chelsea,West Brom,6,0,H,2.0,0.0,H,...,2.06,2.01,1.91,1.85,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,2010-08-14,Sunderland,Birmingham,2,2,D,1.0,0.0,H,...,1.64,1.55,2.50,2.38,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
all_matches

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSH,PSD,PSA,PSCH,PSCD,PSCA
0,E0,2010-08-14,Aston Villa,West Ham,3,0,H,2.0,0.0,H,...,1.45,1.40,3.00,2.78,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,2010-08-14,Blackburn,Everton,1,0,H,1.0,0.0,H,...,2.20,2.05,1.85,1.75,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,2010-08-14,Bolton,Fulham,0,0,D,0.0,0.0,D,...,1.60,1.55,2.56,2.36,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,2010-08-14,Chelsea,West Brom,6,0,H,2.0,0.0,H,...,2.06,2.01,1.91,1.85,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,2010-08-14,Sunderland,Birmingham,2,2,D,1.0,0.0,H,...,1.64,1.55,2.50,2.38,NaN,NaN,NaN,NaN,NaN,NaN
5,E0,2010-08-14,Tottenham,Man City,0,0,D,0.0,0.0,D,...,1.75,1.69,2.28,2.12,NaN,NaN,NaN,NaN,NaN,NaN
6,E0,2010-08-14,Wigan,Blackpool,0,4,A,0.0,3.0,A,...,1.40,1.32,3.75,3.19,NaN,NaN,NaN,NaN,NaN,NaN
7,E0,2010-08-14,Wolves,Stoke,2,1,H,2.0,0.0,H,...,1.70,1.63,2.40,2.20,NaN,NaN,NaN,NaN,NaN,NaN
8,E0,2010-08-15,Liverpool,Arsenal,1,1,D,0.0,0.0,D,...,1.83,1.74,2.15,2.06,NaN,NaN,NaN,NaN,NaN,NaN
9,E0,2010-08-16,Man United,Newcastle,3,0,H,2.0,0.0,H,...,1.05,1.03,12.00,10.02,NaN,NaN,NaN,NaN,NaN,NaN
10,E0,2010-08-21,Arsenal,Blackpool,6,0,H,3.0,0.0,H,...,1.83,1.76,2.19,2.12,NaN,NaN,NaN,NaN,NaN,NaN
11,E0,2010-08-21,Birmingham,Blackburn,2,1,H,0.0,0.0,D,...,1.67,1.59,2.45,2.28,NaN,NaN,NaN,NaN,NaN,NaN
12,E0,2010-08-21,Everton,Wolves,1,1,D,1.0,0.0,H,...,1.17,1.13,6.00,5.33,NaN,NaN,NaN,NaN,NaN,NaN
13,E0,2010-08-21,Stoke,Tottenham,1,2,A,1.0,2.0,A,...,2.50,2.30,1.69,1.58,NaN,NaN,NaN,NaN,NaN,NaN
14,E0,2010-08-21,West Brom,Sunderland,1,0,H,0.0,0.0,D,...,1.80,1.74,2.25,2.05,NaN,NaN,NaN,NaN,NaN,NaN
15,E0,2010-08-21,West Ham,Bolton,1,3,A,0.0,0.0,D,...,1.63,1.56,2.53,2.33,NaN,NaN,NaN,NaN,NaN,NaN
16,E0,2010-08-21,Wigan,Chelsea,0,6,A,0.0,1.0,A,...,1.90,1.87,2.05,2.00,NaN,NaN,NaN,NaN,NaN,NaN
17,E0,2010-08-22,Fulham,Man United,2,2,D,0.0,1.0,A,...,5.00,4.54,1.20,1.17,NaN,NaN,NaN,NaN,NaN,NaN
18,E0,2010-08-22,Newcastle,Aston Villa,6,0,H,3.0,0.0,H,...,2.32,2.18,1.73,1.65,NaN,NaN,NaN,NaN,NaN,NaN
19,E0,2010-08-23,Man City,Liverpool,3,0,H,1.0,0.0,H,...,1.70,1.63,2.38,2.20,NaN,NaN,NaN,NaN,NaN,NaN
20,E0,2010-08-28,Blackburn,Arsenal,1,2,A,1.0,1.0,D,...,4.50,3.96,1.25,1.22,NaN,NaN,NaN,NaN,NaN,NaN
21,E0,2010-08-28,Blackpool,Fulham,2,2,D,0.0,1.0,A,...,2.40,2.20,1.70,1.64,NaN,NaN,NaN,NaN,NaN,NaN
22,E0,2010-08-28,Chelsea,Stoke,2,0,H,1.0,0.0,H,...,2.02,1.95,1.96,1.92,NaN,NaN,NaN,NaN,NaN,NaN
23,E0,2010-08-28,Man United,West Ham,3,0,H,1.0,0.0,H,...,2.03,1.95,1.98,1.94,NaN,NaN,NaN,NaN,NaN,NaN
24,E0,2010-08-28,Tottenham,Wigan,0,1,A,0.0,0.0,D,...,1.06,1.04,11.00,9.05,NaN,NaN,NaN,NaN,NaN,NaN
25,E0,2010-08-28,Wolves,Newcastle,1,1,D,1.0,0.0,H,...,1.75,1.68,2.28,2.14,NaN,NaN,NaN,NaN,NaN,NaN
26,E0,2010-08-29,Aston Villa,Everton,1,0,H,1.0,0.0,H,...,1.90,1.78,2.10,2.00,NaN,NaN,NaN,NaN,NaN,NaN
27,E0,2010-08-29,Bolton,Birmingham,2,2,D,0.0,1.0,A,...,1.55,1.49,2.70,2.50,NaN,NaN,NaN,NaN,NaN,NaN
28,E0,2010-08-29,Liverpool,West Brom,1,0,H,0.0,0.0,D,...,2.04,1.98,1.92,1.89,NaN,NaN,NaN,NaN,NaN,NaN
29,E0,2010-08-29,Sunderland,Man City,1,0,H,0.0,0.0,D,...,3.40,3.06,1.40,1.34,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16404,SP1,2019-05-03,Sevilla,Leganes,0,3,A,0.0,2.0,A,...,2.19,2.12,1.80,1.75,1.39,5.17,8.22,1.41,4.87,8.41
16405,SP1,2019-05-04,Alaves,Sociedad,0,1,A,0.0,1.0,A,...,1.86,1.83,2.10,2.04,2.64,3.30,2.92,2.81,3.23,2.78
16406,SP1,2019-05-04,Celta,Barcelona,2,0,H,0.0,0.0,D,...,2.17,2.14,1.80,1.75,2.15,3.77,3.38,1.73,4.31,4.58
16407,SP1,2019-05-04,Espanol,Ath Madrid,3,0,H,1.0,0.0,H,...,1.81,1.77,2.16,2.11,3.94,3.32,2.12,4.17,3.54,1.98
16408,SP1,2019-05-04,Levante,Vallecano,4,1,H,2.0,0.0,H,...,2.00,1.96,1.95,1.90,1.98,4.17,3.56,1.83,4.23,4.09
16409,SP1,2019-05-05,Eibar,Betis,1,0,H,1.0,0.0,H,...,2.10,2.02,1.91,1.84,2.04,3.78,3.69,1.95,4.00,3.77
16410,SP1,2019-05-05,Getafe,Girona,2,0,H,1.0,0.0,H,...,2.71,2.60,1.55,1.52,1.85,3.39,5.19,1.94,3.31,4.74
16411,SP1,2019-05-05,Huesca,Valencia,2,6,A,0.0,5.0,A,...,1.80,1.75,2.19,2.13,3.37,3.68,2.18,3.99,3.96,1.91
16412,SP1,2019-05-05,Real Madrid,Villarreal,3,2,H,2.0,1.0,H,...,2.21,2.16,1.78,1.73,1.70,4.10,5.07,1.89,3.75,4.33
16413,SP1,2019-05-05,Valladolid,Ath Bilbao,1,0,H,1.0,0.0,H,...,2.50,2.40,1.64,1.61,2.89,3.18,2.75,2.97,3.24,2.64
16414,SP1,2019-05-12,Ath Bilbao,Celta,3,1,H,3.0,0.0,H,...,2.05,2.00,1.92,1.86,2.02,3.58,3.96,2.05,3.43,4.05
16415,SP1,2019-05-12,Ath Madrid,Sevilla,1,1,D,1.0,0.0,H,...,2.15,2.09,1.85,1.78,2.10,3.68,3.60,1.97,3.70,4.01
16416,SP1,2019-05-12,Barcelona,Getafe,2,0,H,1.0,0.0,H,...,1.93,1.87,2.04,1.98,1.56,4.48,6.04,1.48,4.47,7.66
16417,SP1,2019-05-12,Betis,Huesca,2,1,H,1.0,0.0,H,...,2.01,1.95,1.98,1.91,1.58,4.93,5.14,1.51,4.87,6.10
16418,SP1,2019-05-12,Girona,Levante,1,2,A,0.0,0.0,D,...,2.26,2.21,1.75,1.71,2.27,3.58,3.28,2.15,3.63,3.50
16419,SP1,2019-05-12,Leganes,Espanol,0,2,A,0.0,1.0,A,...,1.82,1.78,2.15,2.10,2.58,3.32,2.98,2.39,3.31,3.29
16420,SP1,2019-05-12,Sociedad,Real Madrid,3,1,H,1.0,1.0,D,...,1.72,1.68,2.31,2.25,3.09,3.86,2.26,2.72,3.95,2.48
16421,SP1,2019-05-12,Valencia,Alaves,3,1,H,2.0,1.0,H,...,2.13,2.07,1.85,1.79,1.41,5.48,7.14,1.29,5.64,12.31
16422,SP1,2019-05-12,Vallecano,Valladolid,1,2,A,0.0,1.0,A,...,2.07,2.03,1.90,1.85,4.09,4.09,1.85,4.45,3.99,1.81
16423,SP1,2019-05-12,Villarreal,Eibar,1,0,H,0.0,0.0,D,...,2.15,2.06,1.90,1.81,1.61,4.70,5.08,1.57,4.50,5.88
16424,SP1,2019-05-18,Alaves,Girona,2,1,H,1.0,0.0,H,...,2.07,2.03,1.90,1.85,2.38,3.66,3.01,2.21,3.50,3.47
16425,SP1,2019-05-18,Celta,Vallecano,2,2,D,0.0,1.0,A,...,2.30,2.23,1.75,1.69,1.49,4.87,6.45,1.32,5.94,9.12
16426,SP1,2019-05-18,Espanol,Sociedad,2,0,H,0.0,0.0,D,...,2.00,1.98,1.93,1.89,2.29,3.74,3.12,2.03,3.91,3.61
16427,SP1,2019-05-18,Getafe,Villarreal,2,2,D,1.0,1.0,D,...,2.19,2.13,1.85,1.76,1.66,4.18,5.34,1.58,4.43,5.81
16428,SP1,2019-05-18,Huesca,Leganes,2,1,H,0.0,1.0,A,...,1.92,1.87,2.05,1.99,2.59,3.72,2.71,2.58,3.52,2.83
16429,SP1,2019-05-18,Levante,Ath Madrid,2,2,D,2.0,0.0,H,...,1.91,1.87,2.04,1.99,3.67,3.87,2.02,4.34,4.10,1.81
16430,SP1,2019-05-18,Sevilla,Ath Bilbao,2,0,H,1.0,0.0,H,...,2.70,2.60,1.60,1.53,1.90,3.42,4.81,2.17,3.08,4.15
16431,SP1,2019-05-18,Valladolid,Valencia,0,2,A,0.0,1.0,A,...,1.78,1.74,2.20,2.13,8.05,4.91,1.42,8.01,5.13,1.40
16432,SP1,2019-05-19,Eibar,Barcelona,2,2,D,2.0,2.0,D,...,2.03,1.98,1.92,1.88,3.83,4.20,1.89,4.96,4.55,1.65
16433,SP1,2019-05-19,Real Madrid,Betis,0,2,A,0.0,0.0,D,...,1.94,1.91,2.01,1.98,1.59,5.09,4.86,1.33,6.38,8.09

In [60]:
# #column definitions found at https://www.football-data.co.uk/notes.txt
# #I'm only going to keep the columns that have to do with game statistics. I'm discarding columns that are focused on gambling.
all_matches = all_matches[['Date', 'Div', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR',
                          'Referee', 'HS', 'AS', 'HST', 'AST', 'HC', 'AC', 'HF', 'AF',
                          'HY', 'AY', 'HR', 'AR']]
all_matches.head()

,Date,Div,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,2010-08-14,E0,Aston Villa,West Ham,3,0,H,2.0,0.0,H,...,11.0,2.0,16.0,7.0,15.0,15.0,1.0,2.0,0.0,0.0
1,2010-08-14,E0,Blackburn,Everton,1,0,H,1.0,0.0,H,...,2.0,12.0,1.0,3.0,19.0,14.0,2.0,1.0,0.0,0.0
2,2010-08-14,E0,Bolton,Fulham,0,0,D,0.0,0.0,D,...,9.0,7.0,4.0,8.0,12.0,13.0,1.0,3.0,0.0,0.0
3,2010-08-14,E0,Chelsea,West Brom,6,0,H,2.0,0.0,H,...,13.0,4.0,3.0,1.0,10.0,10.0,1.0,0.0,0.0,0.0
4,2010-08-14,E0,Sunderland,Birmingham,2,2,D,1.0,0.0,H,...,2.0,7.0,3.0,6.0,13.0,10.0,3.0,3.0,1.0,0.0

In [61]:
all_matches.Div.unique()

array(['E0', 'F1', 'D1', 'I1', 'SP1'], dtype=object)

In [62]:
all_matches.Div = all_matches.Div.replace({'E0': 'English Premier League', 'F1': 'French Ligue 1', 'D1':'German Bundesliga',
                                          'I1':'Italian Serie A', 'SP1':'Spanish La Liga'})
all_matches.tail()

C:\Users\1saml\Anaconda3\lib\site-packages\pandas\core\generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

,Date,Div,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
16429,2019-05-18,Spanish La Liga,Levante,Ath Madrid,2,2,D,2.0,0.0,H,...,7.0,8.0,6.0,4.0,9.0,7.0,0.0,1.0,0.0,1.0
16430,2019-05-18,Spanish La Liga,Sevilla,Ath Bilbao,2,0,H,1.0,0.0,H,...,3.0,1.0,2.0,3.0,14.0,19.0,4.0,2.0,0.0,0.0
16431,2019-05-18,Spanish La Liga,Valladolid,Valencia,0,2,A,0.0,1.0,A,...,4.0,6.0,8.0,2.0,12.0,10.0,1.0,3.0,0.0,0.0
16432,2019-05-19,Spanish La Liga,Eibar,Barcelona,2,2,D,2.0,2.0,D,...,8.0,3.0,5.0,2.0,11.0,3.0,4.0,2.0,0.0,0.0
16433,2019-05-19,Spanish La Liga,Real Madrid,Betis,0,2,A,0.0,0.0,D,...,2.0,7.0,1.0,5.0,17.0,11.0,4.0,1.0,0.0,0.0

In [63]:
all_matches.head()

,Date,Div,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,2010-08-14,English Premier League,Aston Villa,West Ham,3,0,H,2.0,0.0,H,...,11.0,2.0,16.0,7.0,15.0,15.0,1.0,2.0,0.0,0.0
1,2010-08-14,English Premier League,Blackburn,Everton,1,0,H,1.0,0.0,H,...,2.0,12.0,1.0,3.0,19.0,14.0,2.0,1.0,0.0,0.0
2,2010-08-14,English Premier League,Bolton,Fulham,0,0,D,0.0,0.0,D,...,9.0,7.0,4.0,8.0,12.0,13.0,1.0,3.0,0.0,0.0
3,2010-08-14,English Premier League,Chelsea,West Brom,6,0,H,2.0,0.0,H,...,13.0,4.0,3.0,1.0,10.0,10.0,1.0,0.0,0.0,0.0
4,2010-08-14,English Premier League,Sunderland,Birmingham,2,2,D,1.0,0.0,H,...,2.0,7.0,3.0,6.0,13.0,10.0,3.0,3.0,1.0,0.0

In [64]:
pd.set_option('display.max_columns', None)
all_matches.head()

,Date,Div,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,2010-08-14,English Premier League,Aston Villa,West Ham,3,0,H,2.0,0.0,H,M Dean,23.0,12.0,11.0,2.0,16.0,7.0,15.0,15.0,1.0,2.0,0.0,0.0
1,2010-08-14,English Premier League,Blackburn,Everton,1,0,H,1.0,0.0,H,P Dowd,7.0,17.0,2.0,12.0,1.0,3.0,19.0,14.0,2.0,1.0,0.0,0.0
2,2010-08-14,English Premier League,Bolton,Fulham,0,0,D,0.0,0.0,D,S Attwell,13.0,12.0,9.0,7.0,4.0,8.0,12.0,13.0,1.0,3.0,0.0,0.0
3,2010-08-14,English Premier League,Chelsea,West Brom,6,0,H,2.0,0.0,H,M Clattenburg,18.0,10.0,13.0,4.0,3.0,1.0,10.0,10.0,1.0,0.0,0.0,0.0
4,2010-08-14,English Premier League,Sunderland,Birmingham,2,2,D,1.0,0.0,H,A Taylor,6.0,13.0,2.0,7.0,3.0,6.0,13.0,10.0,3.0,3.0,1.0,0.0

In [65]:
all_matches.dtypes

Date        datetime64[ns]
Div                 object
HomeTeam            object
AwayTeam            object
FTHG                 int64
FTAG                 int64
FTR                 object
HTHG               float64
HTAG               float64
HTR                 object
Referee             object
HS                 float64
AS                 float64
HST                float64
AST                float64
HC                 float64
AC                 float64
HF                 float64
AF                 float64
HY                 float64
AY                 float64
HR                 float64
AR                 float64
dtype: object

In [66]:
all_matches = all_matches.rename(columns={'Date':'date',"Div": "league_name", "HomeTeam": "home_team", "AwayTeam": "away_team", 'FTHG':'home_goals', 'FTAG': 'away_goals',
                           'FTR':'result', 'Referee':'referee', 'HS':'home_shots', 'AS':'away_shots', 'HST':'home_shots_on_target',
                           'AST':'away_shots_on_target', 'HC':'home_corners', 'AC':'away_corners', 'HF':'home_fouls', 'AF':'away_fouls',
                           'HY':'home_yellow_cards', 'AY':'away_yellow_cards', 'HR':'home_red_cards', 'AR':'away_red_cards'}) 
all_matches = all_matches.drop(columns = ['HTHG', 'HTAG', 'HTR'])
all_matches.head()

,date,league_name,home_team,away_team,home_goals,away_goals,result,referee,home_shots,away_shots,home_shots_on_target,away_shots_on_target,home_corners,away_corners,home_fouls,away_fouls,home_yellow_cards,away_yellow_cards,home_red_cards,away_red_cards
0,2010-08-14,English Premier League,Aston Villa,West Ham,3,0,H,M Dean,23.0,12.0,11.0,2.0,16.0,7.0,15.0,15.0,1.0,2.0,0.0,0.0
1,2010-08-14,English Premier League,Blackburn,Everton,1,0,H,P Dowd,7.0,17.0,2.0,12.0,1.0,3.0,19.0,14.0,2.0,1.0,0.0,0.0
2,2010-08-14,English Premier League,Bolton,Fulham,0,0,D,S Attwell,13.0,12.0,9.0,7.0,4.0,8.0,12.0,13.0,1.0,3.0,0.0,0.0
3,2010-08-14,English Premier League,Chelsea,West Brom,6,0,H,M Clattenburg,18.0,10.0,13.0,4.0,3.0,1.0,10.0,10.0,1.0,0.0,0.0,0.0
4,2010-08-14,English Premier League,Sunderland,Birmingham,2,2,D,A Taylor,6.0,13.0,2.0,7.0,3.0,6.0,13.0,10.0,3.0,3.0,1.0,0.0

In [67]:
all_matches.tail()

,date,league_name,home_team,away_team,home_goals,away_goals,result,referee,home_shots,away_shots,home_shots_on_target,away_shots_on_target,home_corners,away_corners,home_fouls,away_fouls,home_yellow_cards,away_yellow_cards,home_red_cards,away_red_cards
16429,2019-05-18,Spanish La Liga,Levante,Ath Madrid,2,2,D,NaN,17.0,17.0,7.0,8.0,6.0,4.0,9.0,7.0,0.0,1.0,0.0,1.0
16430,2019-05-18,Spanish La Liga,Sevilla,Ath Bilbao,2,0,H,NaN,9.0,9.0,3.0,1.0,2.0,3.0,14.0,19.0,4.0,2.0,0.0,0.0
16431,2019-05-18,Spanish La Liga,Valladolid,Valencia,0,2,A,NaN,19.0,9.0,4.0,6.0,8.0,2.0,12.0,10.0,1.0,3.0,0.0,0.0
16432,2019-05-19,Spanish La Liga,Eibar,Barcelona,2,2,D,NaN,15.0,6.0,8.0,3.0,5.0,2.0,11.0,3.0,4.0,2.0,0.0,0.0
16433,2019-05-19,Spanish La Liga,Real Madrid,Betis,0,2,A,NaN,9.0,9.0,2.0,7.0,1.0,5.0,17.0,11.0,4.0,1.0,0.0,0.0

In [68]:
all_matches = all_matches.reset_index(drop = True)

In [69]:
all_matches = all_matches.drop(columns = ['referee'])

In [70]:
all_matches.tail()

,date,league_name,home_team,away_team,home_goals,away_goals,result,home_shots,away_shots,home_shots_on_target,away_shots_on_target,home_corners,away_corners,home_fouls,away_fouls,home_yellow_cards,away_yellow_cards,home_red_cards,away_red_cards
16429,2019-05-18,Spanish La Liga,Levante,Ath Madrid,2,2,D,17.0,17.0,7.0,8.0,6.0,4.0,9.0,7.0,0.0,1.0,0.0,1.0
16430,2019-05-18,Spanish La Liga,Sevilla,Ath Bilbao,2,0,H,9.0,9.0,3.0,1.0,2.0,3.0,14.0,19.0,4.0,2.0,0.0,0.0
16431,2019-05-18,Spanish La Liga,Valladolid,Valencia,0,2,A,19.0,9.0,4.0,6.0,8.0,2.0,12.0,10.0,1.0,3.0,0.0,0.0
16432,2019-05-19,Spanish La Liga,Eibar,Barcelona,2,2,D,15.0,6.0,8.0,3.0,5.0,2.0,11.0,3.0,4.0,2.0,0.0,0.0
16433,2019-05-19,Spanish La Liga,Real Madrid,Betis,0,2,A,9.0,9.0,2.0,7.0,1.0,5.0,17.0,11.0,4.0,1.0,0.0,0.0

In [71]:
transfers.head()

,year,season,buying_club,player_name,age,position,selling_club,fee,fee_in_millions_usd,league_name
0,2009,2009/2010,Manchester United,Antonio Valencia,23,Right Back,Wigan,£17.01m,22.453,English Premier League
1,2009,2009/2010,Manchester United,Mame Diouf,21,Striker,Molde FK,£4.05m,5.346,English Premier League
2,2009,2009/2010,Manchester United,Gabriel Obertan,20,Right Winger,G. Bordeaux,£3.60m,4.752,English Premier League
3,2009,2009/2010,Manchester United,Michael Owen,29,Striker,Newcastle,free_transfer,0.000,English Premier League
4,2009,2009/2010,Liverpool FC,Glen Johnson,24,Right Back,Portsmouth,£18.45m,24.354,English Premier League

In [72]:
all_matches.head()

,date,league_name,home_team,away_team,home_goals,away_goals,result,home_shots,away_shots,home_shots_on_target,away_shots_on_target,home_corners,away_corners,home_fouls,away_fouls,home_yellow_cards,away_yellow_cards,home_red_cards,away_red_cards
0,2010-08-14,English Premier League,Aston Villa,West Ham,3,0,H,23.0,12.0,11.0,2.0,16.0,7.0,15.0,15.0,1.0,2.0,0.0,0.0
1,2010-08-14,English Premier League,Blackburn,Everton,1,0,H,7.0,17.0,2.0,12.0,1.0,3.0,19.0,14.0,2.0,1.0,0.0,0.0
2,2010-08-14,English Premier League,Bolton,Fulham,0,0,D,13.0,12.0,9.0,7.0,4.0,8.0,12.0,13.0,1.0,3.0,0.0,0.0
3,2010-08-14,English Premier League,Chelsea,West Brom,6,0,H,18.0,10.0,13.0,4.0,3.0,1.0,10.0,10.0,1.0,0.0,0.0,0.0
4,2010-08-14,English Premier League,Sunderland,Birmingham,2,2,D,6.0,13.0,2.0,7.0,3.0,6.0,13.0,10.0,3.0,3.0,1.0,0.0

In [73]:
transfers.selling_club = transfers.selling_club.replace({'FC Internazionale': 'Inter Milan', 'RCD Espanyol Barcelona': 'RCD Espanyol'})
transfers.buying_club = transfers.buying_club.replace({'FC Internazionale': 'Inter Milan', 'RCD Espanyol Barcelona': 'RCD Espanyol'})

In [74]:
all_matches.home_team = all_matches.home_team.replace({'Espanol': 'RCD Espanyol', 'Inter': 'Inter Milan', 'Milan': 'AC Milan',
                                                      "M'gladbach": "B Monchengladbach", 'Hertha': 'Hertha Berlin', 'Evian Thonon Gaillard': 'Evian',
                                                      'Ajaccio': 'AC Ajaccio'})
all_matches.away_team = all_matches.away_team.replace({'Espanol': 'RCD Espanyol', 'Inter': 'Inter Milan', 'Milan': 'AC Milan',
                                                      "M'gladbach": "B Monchengladbach", 'Hertha': 'Hertha Berlin', 'Evian Thonon Gaillard': 'Evian',
                                                      'Ajaccio': 'AC Ajaccio'})

In [75]:
transfers.buying_club = transfers.buying_club.replace({'Borussia Monchengladbach': 'B Monchengladbach'})
transfers.selling_club = transfers.selling_club.replace({'Borussia Monchengladbach': 'B Monchengladbach'})

In [76]:
transfers.selling_club = transfers.selling_club.replace({'G. Bordeaux': 'Bordeaux', 'FC Girondins Bordeaux':'Bordeaux'})
transfers.buying_club = transfers.buying_club.replace({'G. Bordeaux': 'Bordeaux', 'FC Girondins Bordeaux':'Bordeaux'})

In [77]:
transfers.head()

,year,season,buying_club,player_name,age,position,selling_club,fee,fee_in_millions_usd,league_name
0,2009,2009/2010,Manchester United,Antonio Valencia,23,Right Back,Wigan,£17.01m,22.453,English Premier League
1,2009,2009/2010,Manchester United,Mame Diouf,21,Striker,Molde FK,£4.05m,5.346,English Premier League
2,2009,2009/2010,Manchester United,Gabriel Obertan,20,Right Winger,Bordeaux,£3.60m,4.752,English Premier League
3,2009,2009/2010,Manchester United,Michael Owen,29,Striker,Newcastle,free_transfer,0.000,English Premier League
4,2009,2009/2010,Liverpool FC,Glen Johnson,24,Right Back,Portsmouth,£18.45m,24.354,English Premier League

In [78]:
all_matches.head()

,date,league_name,home_team,away_team,home_goals,away_goals,result,home_shots,away_shots,home_shots_on_target,away_shots_on_target,home_corners,away_corners,home_fouls,away_fouls,home_yellow_cards,away_yellow_cards,home_red_cards,away_red_cards
0,2010-08-14,English Premier League,Aston Villa,West Ham,3,0,H,23.0,12.0,11.0,2.0,16.0,7.0,15.0,15.0,1.0,2.0,0.0,0.0
1,2010-08-14,English Premier League,Blackburn,Everton,1,0,H,7.0,17.0,2.0,12.0,1.0,3.0,19.0,14.0,2.0,1.0,0.0,0.0
2,2010-08-14,English Premier League,Bolton,Fulham,0,0,D,13.0,12.0,9.0,7.0,4.0,8.0,12.0,13.0,1.0,3.0,0.0,0.0
3,2010-08-14,English Premier League,Chelsea,West Brom,6,0,H,18.0,10.0,13.0,4.0,3.0,1.0,10.0,10.0,1.0,0.0,0.0,0.0
4,2010-08-14,English Premier League,Sunderland,Birmingham,2,2,D,6.0,13.0,2.0,7.0,3.0,6.0,13.0,10.0,3.0,3.0,1.0,0.0

In [79]:
transfers.buying_club = transfers.buying_club.replace({'Manchester United':'Man United', 'Liverpool FC':'Liverpool', 'Chelsea FC':'Chelsea',
'Arsenal FC':'Arsenal','Everton FC':'Everton','Fulham FC':'Fulham', 'Tottenham Hotspur':'Tottenham','West Ham United':'West Ham',
'Manchester City':'Man City', 'Wigan Athletic':'Wigan','Stoke City':'Stoke', 'Bolton Wanderers':'Bolton', 'Portsmouth FC':'Portsmouth',
'Blackburn Rovers':'Blackburn', 'Sunderland AFC':'Sunderland', 'Hull City':'Hull','Wolverhampton Wanderers':'Wolves', 'Birmingham City':'Birmingham', 
'Burnley FC':'Burnley','Newcastle United':'Newcastle', 'West Bromwich Albion':'West Brom', 'Blackpool FC':'Blackpool','Queens Park Rangers':'QPR', 
'Norwich City':'Norwich', 'Swansea City':'Swansea','Southampton FC':'Southampton', 'Reading FC':'Reading', 'Cardiff City':'Cardiff',
'Leicester City':'Leicester', 'AFC Bournemouth':'Bournemouth', 'Watford FC':'Watford','Middlesbrough FC':'Middlesbrough', 
'Brighton & Hove Albion':'Brighton', 'Huddersfield Town':'Huddersfield'})

transfers.selling_club = transfers.selling_club.replace({'Manchester United':'Man United', 'Liverpool FC':'Liverpool', 'Chelsea FC':'Chelsea',
'Arsenal FC':'Arsenal','Everton FC':'Everton','Fulham FC':'Fulham', 'Tottenham Hotspur':'Tottenham','West Ham United':'West Ham',
'Manchester City':'Man City', 'Wigan Athletic':'Wigan','Stoke City':'Stoke', 'Bolton Wanderers':'Bolton', 'Portsmouth FC':'Portsmouth',
'Blackburn Rovers':'Blackburn', 'Sunderland AFC':'Sunderland', 'Hull City':'Hull','Wolverhampton Wanderers':'Wolves', 'Birmingham City':'Birmingham', 
'Burnley FC':'Burnley','Newcastle United':'Newcastle', 'West Bromwich Albion':'West Brom', 'Blackpool FC':'Blackpool','Queens Park Rangers':'QPR', 
'Norwich City':'Norwich', 'Swansea City':'Swansea','Southampton FC':'Southampton', 'Reading FC':'Reading', 'Cardiff City':'Cardiff',
'Leicester City':'Leicester', 'AFC Bournemouth':'Bournemouth', 'Watford FC':'Watford','Middlesbrough FC':'Middlesbrough', 
'Brighton & Hove Albion':'Brighton', 'Huddersfield Town':'Huddersfield'})

In [80]:
transfers.buying_club = transfers.buying_club.replace({'AS Monaco':'Monaco','Olympique Marseille':'Marseille', 'Stade Rennais FC':'Rennes', 
'AJ Auxerre':'Auxerre','FC Toulouse':'Toulouse', 'OGC Nice':'Nice', 'Paris Saint-Germain':'Paris SG','AS Saint-Etienne':'St Etienne', 
'FC Sochaux-Montbeliard':'Sochaux', 'RC Lens':'Lens','HSC Montpellier':'Montpellier', 'Olympique Lyon':'Lyon', 'LOSC Lille':'Lille', 'FC Lorient':'Lorient',
'AS Nancy-Lorraine':'Nancy', 'Le Mans Union Club 72':'Le Mans', 'Grenoble Foot 38':'Grenoble','Valenciennes FC':'Valenciennes', 
'US Boulogne':'Boulogne', 'SM Caen':'Caen', 'Stade Brest 29':'Brest','Athletic Club Arlesien':'Arles', 'FCO Dijon':'Dijon',
'FC Evian Thonon Gaillard':'Evian', 'SC Bastia':'Bastia', 'ES Troyes AC':'Troyes','Stade Reims':'Reims', 'EA Guingamp':'Guingamp', 'FC Nantes':'Nantes', 
'FC Metz':'Metz', 'SCO Angers':'Angers','GFC Ajaccio':'Ajaccio GFCO', 'SC Amiens':'Amiens', 'RC Strasbourg Alsace':'Strasbourg','Nimes Olympique':'Nimes'})

transfers.selling_club = transfers.selling_club.replace({'AS Monaco':'Monaco','Olympique Marseille':'Marseille', 'Stade Rennais FC':'Rennes', 
'AJ Auxerre':'Auxerre','FC Toulouse':'Toulouse', 'OGC Nice':'Nice', 'Paris Saint-Germain':'Paris SG','AS Saint-Etienne':'St Etienne', 
'FC Sochaux-Montbeliard':'Sochaux', 'RC Lens':'Lens','HSC Montpellier':'Montpellier', 'Olympique Lyon':'Lyon', 'LOSC Lille':'Lille', 'FC Lorient':'Lorient',
'AS Nancy-Lorraine':'Nancy', 'Le Mans Union Club 72':'Le Mans', 'Grenoble Foot 38':'Grenoble','Valenciennes FC':'Valenciennes', 
'US Boulogne':'Boulogne', 'SM Caen':'Caen', 'Stade Brest 29':'Brest','Athletic Club Arlesien':'Arles', 'FCO Dijon':'Dijon',
'FC Evian Thonon Gaillard':'Evian', 'SC Bastia':'Bastia', 'ES Troyes AC':'Troyes','Stade Reims':'Reims', 'EA Guingamp':'Guingamp', 'FC Nantes':'Nantes', 
'FC Metz':'Metz', 'SCO Angers':'Angers','GFC Ajaccio':'Ajaccio GFCO', 'SC Amiens':'Amiens', 'RC Strasbourg Alsace':'Strasbourg','Nimes Olympique':'Nimes'})

In [81]:
transfers.buying_club = transfers.buying_club.replace({'Hertha BSC':'Hertha Berlin', 'VfL Bochum':'Bochum', 'VfL Wolfsburg':'Wolfsburg', 
'VfB Stuttgart':'Stuttgart', 'Hamburger SV':'Hamburg', 'Borussia Dortmund':'Dortmund','TSG 1899 Hoffenheim':'Hoffenheim', 'FC Schalke 04':'Schalke 04', 
'Bayer 04 Leverkusen':'Leverkusen','SV Werder Bremen':'Werder Bremen', 'Hannover 96':'Hannover', '1. FC Koln':'FC Koln',
'Eintracht Frankfurt':'Ein Frankfurt', 'SC Freiburg':'Freiburg','1.FSV Mainz 05':'Mainz', '1.FC Nuremberg':'Nurnberg', 
'1.FC Kaiserslautern':'Kaiserslautern','FC St. Pauli':'St Pauli', 'FC Augsburg':'Augsburg', 'SpVgg Greuther Furth':'Greuther Furth',
'Fortuna Dusseldorf':'Fortuna Dusseldorf', 'Eintracht Braunschweig':'Braunschweig', 'SC Paderborn 07':'Paderborn','FC Ingolstadt 04':'Ingolstadt', 
'SV Darmstadt 98':'Darmstadt','1.FC Union Berlin':'Union Berlin'})

transfers.selling_club = transfers.selling_club.replace({'Hertha BSC':'Hertha Berlin', 'VfL Bochum':'Bochum', 'VfL Wolfsburg':'Wolfsburg', 
'VfB Stuttgart':'Stuttgart', 'Hamburger SV':'Hamburg', 'Borussia Dortmund':'Dortmund','TSG 1899 Hoffenheim':'Hoffenheim', 'FC Schalke 04':'Schalke 04', 
'Bayer 04 Leverkusen':'Leverkusen','SV Werder Bremen':'Werder Bremen', 'Hannover 96':'Hannover', '1. FC Koln':'FC Koln',
'Eintracht Frankfurt':'Ein Frankfurt', 'SC Freiburg':'Freiburg','1.FSV Mainz 05':'Mainz', '1.FC Nuremberg':'Nurnberg', 
'1.FC Kaiserslautern':'Kaiserslautern','FC St. Pauli':'St Pauli', 'FC Augsburg':'Augsburg', 'SpVgg Greuther Furth':'Greuther Furth',
'Fortuna Dusseldorf':'Fortuna Dusseldorf', 'Eintracht Braunschweig':'Braunschweig', 'SC Paderborn 07':'Paderborn','FC Ingolstadt 04':'Ingolstadt', 
'SV Darmstadt 98':'Darmstadt','1.FC Union Berlin':'Union Berlin'})

In [82]:
transfers.buying_club = transfers.buying_club.replace({'AS Roma':'Roma','UC Sampdoria':'Sampdoria', 'US Palermo':'Palermo', 'SSC Napoli':'Napoli', 'Juventus FC':'Juventus',
'Parma FC':'Parma', 'Genoa CFC':'Genoa', 'AS Bari':'Bari', 'ACF Fiorentina':'Fiorentina','Atalanta BC':'Atalanta', 'SS Lazio':'Lazio', 'AC Siena':'Siena', 
'Calcio Catania':'Catania','Chievo Verona':'Chievo', 'Udinese Calcio':'Udinese', 'Cagliari Calcio':'Cagliari','Bologna FC 1909':'Bologna', 'AS Livorno':'Livorno', 
'Brescia Calcio':'Brescia', 'US Lecce':'Lecce','AC Cesena':'Cesena', 'Novara Calcio 1908':'Novara', 'Delfino Pescara 1936':'Pescara','Torino FC':'Torino', 'Hellas Verona':'Verona', 
'US Sassuolo':'Sassuolo', 'FC Empoli':'Empoli','Carpi FC 1909':'Carpi', 'Frosinone Calcio':'Frosinone', 'FC Crotone':'Crotone','Benevento Calcio':'Benevento', 'SPAL 2013':'Spal', 
'Parma Calcio 1913':'Parma', 'SPAL':'Spal'})

transfers.selling_club = transfers.selling_club.replace({'AS Roma':'Roma','UC Sampdoria':'Sampdoria', 'US Palermo':'Palermo', 'SSC Napoli':'Napoli', 'Juventus FC':'Juventus',
'Parma FC':'Parma', 'Genoa CFC':'Genoa', 'AS Bari':'Bari', 'ACF Fiorentina':'Fiorentina','Atalanta BC':'Atalanta', 'SS Lazio':'Lazio', 'AC Siena':'Siena', 
'Calcio Catania':'Catania','Chievo Verona':'Chievo', 'Udinese Calcio':'Udinese', 'Cagliari Calcio':'Cagliari','Bologna FC 1909':'Bologna', 'AS Livorno':'Livorno', 
'Brescia Calcio':'Brescia', 'US Lecce':'Lecce','AC Cesena':'Cesena', 'Novara Calcio 1908':'Novara', 'Delfino Pescara 1936':'Pescara','Torino FC':'Torino', 'Hellas Verona':'Verona', 
'US Sassuolo':'Sassuolo', 'FC Empoli':'Empoli','Carpi FC 1909':'Carpi', 'Frosinone Calcio':'Frosinone', 'FC Crotone':'Crotone','Benevento Calcio':'Benevento', 'SPAL 2013':'Spal', 
'Parma Calcio 1913':'Parma', 'SPAL':'Spal'})

In [83]:
transfers.buying_club = transfers.buying_club.replace({'Atletico Madrid':'Ath Madrid', 'FC Barcelona':'Barcelona', 'Xerez CD':'Xerez', 'Real Zaragoza':'Zaragoza',
'RCD Mallorca':'Mallorca', 'CA Osasuna':'Osasuna', 'Real Valladolid CF':'Valladolid', 'Sevilla FC':'Sevilla','Athletic Bilbao':'Ath Bilbao', 'Racing Santander':'Santander',
'CD Tenerife':'Tenerife', 'Deportivo de La Coruna':'La Coruna','Valencia CF':'Valencia', 'Villarreal CF':'Villarreal', 'Malaga CF':'Malaga', 'Sporting Gijon':'Sp Gijon',
'UD Almeria':'Almeria', 'Getafe CF':'Getafe', 'Real Sociedad':'Sociedad', 'Levante UD':'Levante','Hercules CF':'Hercules', 'Real Betis Balompie':'Betis', 'Rayo Vallecano':'Vallecano',
'Granada CF':'Granada', 'Celta de Vigo':'Celta', 'Elche CF':'Elche', 'SD Eibar':'Eibar','Cordoba CF':'Cordoba', 'UD Las Palmas':'Las Palmas', 'Deportivo Alaves':'Alaves',
'CD Leganes':'Leganes','Girona FC':'Girona', 'SD Huesca':'Huesca'})

transfers.selling_club = transfers.selling_club.replace({'Atletico Madrid':'Ath Madrid', 'FC Barcelona':'Barcelona', 'Xerez CD':'Xerez', 'Real Zaragoza':'Zaragoza',
'RCD Mallorca':'Mallorca', 'CA Osasuna':'Osasuna', 'Real Valladolid CF':'Valladolid', 'Sevilla FC':'Sevilla','Athletic Bilbao':'Ath Bilbao', 'Racing Santander':'Santander',
'CD Tenerife':'Tenerife', 'Deportivo de La Coruna':'La Coruna','Valencia CF':'Valencia', 'Villarreal CF':'Villarreal', 'Malaga CF':'Malaga', 'Sporting Gijon':'Sp Gijon',
'UD Almeria':'Almeria', 'Getafe CF':'Getafe', 'Real Sociedad':'Sociedad', 'Levante UD':'Levante','Hercules CF':'Hercules', 'Real Betis Balompie':'Betis', 'Rayo Vallecano':'Vallecano',
'Granada CF':'Granada', 'Celta de Vigo':'Celta', 'Elche CF':'Elche', 'SD Eibar':'Eibar','Cordoba CF':'Cordoba', 'UD Las Palmas':'Las Palmas', 'Deportivo Alaves':'Alaves',
'CD Leganes':'Leganes','Girona FC':'Girona', 'SD Huesca':'Huesca'})

In [84]:
#saving my cleaned dataframe to a csv file
transfers.to_csv('data/all_incoming_transfers.csv', index = False)

In [85]:
all_matches.to_csv('data/all_league_matches.csv', index = False)

In [86]:
#saving to an excel file
all_matches.to_excel('data/results_data.xlsx', sheet_name = 'results_data', index = False)

In [87]:
transfers.to_excel("data/transfer_data.xlsx", sheet_name='transfer_data', index = False)